<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.BidMapper">
    <!--当查询值为整型如count(*)时，只能用resultType-->
    <resultMap id="BaseResultMap" type="bid">
        <id column="bid_id" property="bidId"></id>
        <result column="title" property="title"></result>
        <result column="amount" property="amount"></result>
        <result column="user_id" property="userId"></result>
    </resultMap>
    
    <resultMap id="getUserByBidRM" type="bid" extends="BaseResultMap">
        <association property="user" javaType="user">
            <id column="user_id" property="userId"></id>
            <result column="name" property="name"></result>
            <result column="reality_name" property="realityName"></result>
        </association>
    </resultMap>

    <resultMap id="getuserAndBillsByBidIdRM" type="bid" extends="BaseResultMap">
        <!--user-->
        <association property="user" javaType="user">
            <id column="user_id" property="userId"></id>
            <result column="name" property="name"></result>
            <result column="reality_name" property="realityName"></result>
        </association>

        <!--billList-->
        <collection property="billList" ofType="bill">
            <id column="bill_id" property="billId"/>
            <result column="bid_id" property="bidId"/>
            <result column="period" property="period"/>
            <result column="bill_name" property="billName"/>
        </collection>
    </resultMap>

    <sql id="all">
        bid_id,amount,title,user_id
    </sql>

    <!--parmerType: 输入参数类型 -->
    <select id="getBidById"  parameterType="int" resultMap="BaseResultMap">
      select <include refid="all"/> from Bid where bid_id = #{id}
    </select>

    <!--动态查询-->
    <select id="getBidByQc" parameterType="bid_qc" resultMap="BaseResultMap">
        select <include refid="all"/>  from bid t
        <where>
            <if test="title != null">
                t.title like '%${title}%'
            </if>

            <if test="amount != null">
                <![CDATA[
                  and t.amount <= #{amount}
                ]]>
            </if>
        </where>
    </select>

    <select id="getBidLikeTitle" parameterType="map" resultMap="BaseResultMap">
        <![CDATA[
        select <include refid="all"/>  from Bid where title like '%${title}%'
        ]]>
    </select>

    <select id="getBidByMap" parameterType="map" resultMap="BaseResultMap">
        <![CDATA[
        select <include refid="all"/>  from Bid where title = #{title} and amount <= #{amount}
      ]]>
    </select>

    <select id="getCount" resultType="int">
        select count(*) from bid
    </select>

    <select id="getAmountSum" parameterType="string" resultType="double">
        select sum(amount) from bid where title = #{title}
    </select>
    <!--注意，在查询多条记录的时候，返回list的时候，resultType用List类中所包括的类型，而不是list-->
    <select id="getBidByTitle" parameterType="string" resultMap="BaseResultMap">
        select <include refid="all"/>  from Bid where title = #{title}
    </select>

    <insert id="insertBid" parameterType="bid" useGeneratedKeys="true" keyProperty="id">
        insert into Bid(title,amount,user_id) values(#{title},#{amount},#{userId})
    </insert>

    <insert id="insertBatch" parameterType="map" useGeneratedKeys="true" keyProperty="bidId">
        insert into bid(title, amount, user_id) values
        <foreach collection="pList" item="bid" separator=",">
            (#{bid.title}, #{bid.amount}, #{bid.userId})
        </foreach>
    </insert>

    <update id="dynamicUpdate" parameterType="bid">
        update bid t
        <set>
            <if test = "title != null">
                t.title = #{title},
            </if>

            <if test = "amount != null">
                t.amount = #{amount},
            </if>

            <if test = "userId  != null">
                t.user_id = #{userId}
            </if>
        </set>
        where t.bid_id = #{id}
    </update>

    <!--in 查询 -->
    <select id="getBidByIn" parameterType="map" resultMap="BaseResultMap">
        select <include refid="all"/> from bid t where t.bid_id in
        <foreach collection="in_qc" open="(" close=")" item="bidId" index="bidIndex" separator=",">
            #{bidId}
        </foreach>
    </select>
    
    <select id="getUserByBid" parameterType="int" resultMap="getUserByBidRM">
        select *
        from bid b left join user u on b.user_id = u.user_id
        where b.bid_id = #{id}
    </select>

    <select id="getuserAndBillsByBidId" parameterType="int" resultMap="getuserAndBillsByBidIdRM">
        select *
        from bid b left join user u on b.user_id = u.user_id left join bill bi on b.bid_id = bi.bid_id
        where b.bid_id = #{id}
    </select>

    <select id="getBidByUserIdLazy" parameterType="int" resultMap="BaseResultMap">
        select * from bid t where t.user_id = #{userId}
    </select>

</mapper>